blockquote{
    color: yellow;
    border: 0px;
}

blockquote footer{
    color: white;
}

footer{
    background-color: green;
}

header{
    background-color: lightblue;
}

main{
    background-color: yellow;
}

section.body-content{
    background-color: limegreen;
}

.sidebar-content{
    background-color: azure;
}

@media (max-width: 991px){
        
    .list-header{
        padding-left: 0;
        margin-left: -5px;
        list-style: none;
        text-align: center;
    }
    
    .list-header > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
}


@media (min-width: 992px) {
    
    .list-header{
        padding-left: 0;
        list-style: none;
    }
    
    header{
        background-color: red;
    }
    
    
    
}