main{
    padding-top: 10px;
}

header{

}

ul.nav.navbar-nav.navbar-right li a{
  color: white;
}

ul.nav.navbar-nav.navbar-right li a:hover{
  color: black;
}

.navbar-default{
    background-color: #95B4D0;
    background: linear-gradient(#8FAECB, #95B4D0);
    color: currentColor;
}

.navbar-brand{
  height: 100%;
  padding: 0px;
}

.btn-primary{
    background-color: #95B4D0;
    border-color: #95B4D0;
}