<!-- Boilerplate HTML
<h1>Page#articles</h1>
<p>Find me in app/views/page/articles.html.erb</p>
-->

<h1>Articles</h1>

<article class="col-sm-6">
  <h3>Lorem Ipsum News</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et ipsum at tellus accumsan lacinia. Mauris et molestie velit. Sed id lorem rutrum, ullamcorper metus in, luctus risus. Sed velit nisi, fermentum non lectus efficitur, semper semper urna. Sed vestibulum viverra mauris sit amet dictum. Aliquam erat volutpat. Nunc molestie tortor ac lorem dapibus, a commodo massa auctor. Cras condimentum et tellus sed tempor. Quisque euismod cursus sapien at sagittis. Sed convallis tincidunt magna sed maximus. Aenean in hendrerit enim. Maecenas ipsum lacus, mollis eleifend venenatis id, mattis eget neque. Etiam leo tellus, tristique vel felis a, placerat elementum lacus.</p>

  <p>Fusce id lacinia nulla. Praesent in nunc lobortis, mollis dui faucibus, viverra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum efficitur felis id semper. Etiam tortor ante, euismod volutpat massa ut, fermentum mollis nisi. Vestibulum blandit sit amet ipsum non pretium. Nullam semper at sapien et eleifend. Nunc id faucibus enim. Fusce fringilla, ligula id tristique aliquam, augue leo dapibus lacus, mollis volutpat mi lorem vitae lectus. Donec in laoreet risus, finibus finibus quam. Nullam tincidunt velit sit amet erat commodo venenatis. Maecenas tincidunt sapien eget nisi dapibus fringilla. Aenean mauris sapien, interdum at dui sit amet, malesuada vestibulum nunc. Integer sit amet diam in augue molestie hendrerit.</p>

  <p>Curabitur eleifend, neque in faucibus hendrerit, nisi justo vestibulum mauris, ut interdum est orci at ipsum. Curabitur malesuada ultrices scelerisque. Integer varius egestas dignissim. Duis tincidunt non est eget aliquet. Vestibulum auctor mi libero, vitae finibus odio volutpat et. Ut ultricies venenatis ligula id consequat. Vestibulum ornare ornare nunc, eget condimentum erat ullamcorper id. Nam sit amet risus lacinia, malesuada lorem et, euismod erat. Donec laoreet rutrum ex. In nunc metus, lacinia facilisis tincidunt at, elementum eget tortor. Curabitur venenatis, libero id varius auctor, justo sapien consectetur tortor, vel rhoncus libero nibh a sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</article>

<article class="col-sm-6">
  <h3>Lorem Ipsum News</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eros ante, ullamcorper ac est vitae, accumsan euismod mi. Proin vestibulum ac nisi id tempor. Integer et dictum tortor, vitae auctor massa. Proin molestie luctus varius. Sed sit amet metus tincidunt, blandit ipsum a, imperdiet nisi. Nunc tempus metus ac cursus interdum. Donec commodo massa a neque tempor aliquet. Sed dictum porttitor risus tincidunt maximus.</p>

  <p>Aliquam vitae erat vulputate, cursus libero sed, imperdiet ipsum. Aliquam eget ligula nec erat dignissim pretium nec ut mi. Vivamus lobortis, libero eget eleifend bibendum, leo nulla vehicula justo, sit amet blandit odio libero nec ipsum. Vivamus erat ligula, scelerisque sed tellus a, facilisis bibendum sapien. Aenean euismod varius ultricies. Nunc sapien est, consectetur in neque ut, tincidunt facilisis purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum tempus elit viverra libero elementum faucibus. Integer molestie laoreet elit. Maecenas justo neque, ultrices sit amet diam sit amet, suscipit pulvinar tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras dignissim quam quis sagittis tristique. Quisque enim elit, tempor id odio sed, euismod venenatis mi. Vivamus luctus eros ac nisi mollis lacinia.</p>

  <p>In a nunc metus. Donec id diam varius, tristique nibh id, hendrerit risus. In hac habitasse platea dictumst. Phasellus ac augue sed purus elementum varius. Vivamus pellentesque tristique neque, in laoreet mi pulvinar quis. Maecenas in turpis viverra, semper diam vitae, venenatis quam. Praesent at rutrum nunc, vitae imperdiet mauris.</p>
</article>