<!-- Boilerplate  HTML
<h1>Page#products</h1>
<p>Find me in app/views/page/products.html.erb</p>
-->

<h1>Products</h1>

<hr/>

<div class="col-xs-12 col-md-6 col-md-push-3">
  <table class="table table-responsive table-striped table-bordered">
    <thead>
    <tr>
      <th>Product</th>
      <th class="text-right">Price</th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product, price| %>
      <tr>
        <td class="text-left"><%= product %></td>
        <td class="text-right"><%= price %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>