<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ContributionsDemo.Properties.Settings.DemoGuestConnectionString"
            connectionString="Data Source=134.39.173.35;Initial Catalog=DemoGuest;Persist Security Info=True;User ID=DemoGuest;Password=d33rpark"
            providerName="System.Data.SqlClient" />
        <add name="ContributionsDemo.Properties.Settings.dsauve_w17ConnectionString"
            connectionString="Data Source=134.39.173.35;Initial Catalog=dsauve_w17;Persist Security Info=True;User ID=dsauve_w17;Password=HJpo11er"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>