table.cis112 tr td{
  text-align: center;
  padding: 10px;
}

table.cis112 tr td img{
  border-radius: 10px;
  height: 400px;
  box-shadow: 2px 2px 7px #000000;
}

table.cis112 tr td img:hover{
  animation: spin;
}
