table.movies{
    text-align: left;
    border: solid lightgray 2px;
    box-shadow: gray 5px 5px 10px;
}

article.blog{
    background-color: #e4fffc;
    border-radius: 25px;
    box-shadow: 2px 2px 7px;
    margin-bottom: 25px;
}

article p{
    text-align: left;
}


img.product-image{
    max-height: 200px;
    max-width: 90%;
    border-radius: 15px;
    float: right;
}

img.calendar{
    width: 100%;
}