iframe {
  border: none;
}

article.blog{
  background-color: #e4fffc;
  border-radius: 25px;
  box-shadow: 2px 2px 7px;
  margin-bottom: 25px;
}

article p{
  text-align: left;
}

img.calendar{
  width: 100%;
}

img.product-image{
  max-height: 200px;
  max-width: 90%;
  border-radius: 15px;
  float: right;
}

table.calendar-lg tr td{
  width: 14.2857%; /* (100 / 7) for days of the week */
  padding-bottom: 7%;
  transition-duration: .2s;
}

table.calendar-lg tr td:hover{
  background-color: #e3e3e3;
  transition-duration: .15s;
}

textarea{
  resize: none;
}


