<h1>New Article</h1>

<hr/>

<div class="col-xs-12">
  <%= render 'form', article: @article %>
</div>

<div class="col-xs-12">
  <section class="col-md-6 col-md-offset-3">
    <%= link_to 'Back', articles_path, class: 'btn btn-default pull-left' %>
  </section>
</div>

